@use "@/styles/index" as *;

.layout {
  flex-grow: 1;
}

.border {
  border-top: 1px solid $border;
}

.swaggerLink {
  color:$swagger;
  font-weight: 400;
  transition: color 0.2s ease;
  margin-right : 0.25rem;
  
  &:hover {
    color:teal;
  }
}

.section {
  &__pagetitle {
    padding-top: 8rem;
    padding-bottom: 14rem;
    margin: 0 auto;
    max-width: 80rem;
    width: 100%;
    height: 100%;

    &__inner {
      text-align: center;
      padding: 1rem;
      margin-bottom: 2rem;
    }

    &__title {
      font-size: 2.125rem;
      font-weight: bold;
      color: $primary;

      @include media(sm) {
        font-size: 2.5rem;
      }
    }

    &__subtitle {
      font-size: 1rem;
      font-weight: 550;
      color: $primary;

      @include media(sm) {
        font-size: 1.125rem;
      }
    }
  }

  &__overview {
    padding: 4rem 0;

    &__inner {
      text-align: center;
      padding: 1rem;
      margin-bottom: 2rem;
    }

    &__title {
      font-size: 2rem;
      font-weight: bold;
      color: $primary;

      @include media(sm) {
        font-size: 2.25rem;
      }
    }

    &__subtitle {
      font-size: 0.875rem;
      font-weight: 400;
      color: $primary;

      @include media(sm) {
        font-size: 1rem;
      }
    }

    &__description {
      font-size: 0.9rem;
      font-weight: 350;
      color: $muted-foreground;
      margin-top: 1rem;
      line-height: 2;

      @include media(sm) {
        font-size: 1rem;
      }
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 1.5rem;
    }

    &__item {
      list-style: none;
    }

    &__destructive {
      color: $destructive;
    }
  }

  &__reference {
    padding: 4rem 0;

    &__inner {
      text-align: start;
      padding: 1rem 0;
    }

    &__title {
      font-size: 2rem;
      font-weight: bold;
      color: $primary;

      @include media(sm) {
      font-size: 2.25rem;
      }
    }

    &__subtitle {
      font-size: 0.875rem;
      font-weight: 400;
      color: $primary;

      @include media(sm) {
        font-size: 1rem;
      }
    }

    &__description {
      font-size: 0.9rem;
      font-weight: 350;
      color: $muted-foreground;
      line-height: 2;

      @include media(sm) {
        font-size: 1rem;
      }
    }
  }
}