@use "@/styles/index" as *;

.header {
  background-color: $background;
  margin-left: 0;
  margin-top: 0.875rem;

  &__inner {
    position: relative;
    z-index: 50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    @include media(sm) {
      margin: 0 1rem;
    }
  }

  &__title {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 400;
    color: $primary;
  }
}
