@use "@/styles/index" as *;

.footer {
  height: 5rem;
  color: $muted-foreground;
  font-size: 0.85rem;
  font-weight: 350;
  text-align: start;
  border-top: 1px solid $border;

  @include media(md) {
    text-align: center;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    @include media(md) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  &__logo {
    display: block;
    max-width: 200px;
    width: 100%;
    height: auto;
    background-color: $muted;
  }
}