@use "@/styles/index" as *;

.link {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  font-weight: normal;
  color: $muted-foreground;
  text-decoration: none;

  @include media(sm) {
    font-size: 0.8rem;
  }

  &:hover {
    color: $primary;
  }
}

.icon {
  height: 0.9rem;
  margin-left: 0.5rem;

  @include media(sm) {
    height: 1rem;
  }
}